* {
  line-height: 30px;
  color: #00ff77;
  background-color: rgb(44, 43, 43);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*flexed the header seperately and worked great*/
.header {
  display: flex;
  justify-content: center;
}

#h1 {
  padding: 15px;
  color: yellow;
  font-size: 225%;
  text-align: center;
}

#profileImg {
  width: 200px;
  height: 200px;
  margin: 50px;
}

.navcard {
  border: #00ff77 solid 5px;
  font-size: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
}

figure:hover {
  cursor: grab;
  filter: grayscale(1);
}

figcaption {
  padding-bottom: 20px;
}

.fc {
  text-align: center;
}

.fcp {
  text-align: center;
  padding-bottom: 10px;
}

.workImgp {
  width: 150%;
  height: 100%;
}

.workImg {
  width: 250px;
  height: 250px;
}

/* p {
  float: right;
  width: 100%;
  text-align: center;
} */

section {
  margin: 50px;
}

/* having difficulties correcting size of containers */
.card {
  border: #00ff77 solid 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

aside {
  text-align: center;
  width: 20%;
  height: 80%;
  margin: 20px;
}

footer {
  text-align: center;
  text-decoration: underline;
  font-size: 150%;
  padding-bottom: 25px;
}
/* need the content below for grading */

@media screen and (max-width: 992px) {
  .navcard {
    font-size: 125%;
  }
  .card {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .navcard {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 576px) {
  .card {
    width: 100%;
  }
} */