* {
  box-sizing: border-box;
  width: auto;
  color: #00ff77;
  background-color: rgb(44, 43, 43);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#h1 {
  padding: 15px;
  color: yellow;
  font-size: 32px;
  text-align: center;
  inline-size: min-content;
}

#profileImg {
  width: 200px;
  height: 200px;
  margin: 50px;
}

/*flexed the header seperately and worked great*/

/* The navcardhead class is used to format the main header of the page*/
.navcardhead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
}

/*the .navcard class is mainly used with the headers Navigation format*/
.navcard {
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 10px;
  flex-wrap: wrap;
}

.imgcard {

}

figure:hover {
  cursor: grab;
  filter: grayscale(1);
}

figcaption {
  padding-bottom: 20px;
}

.fcHead {
  padding: 10px;
}

.fcp {
  text-align: center;
  padding-bottom: 10px;
}

.fc {
  text-align: center;
}

/* .workImg1 {
  width: 500px;
  height: 500px;
} */

.workImg {
  width: 250px;
  height: 250px;
}

p, ul {
  font-size: 20px;
  float: right;
  width: 80%;
  text-align: center;
}

section {
  margin: 50px;
}

/* having difficulties correcting size of containers */
.card {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  line-height: 22px;
}

aside {
  text-align: center;
  width: 20%;
  height: 80%;
  margin: 20px;
}

footer {
  text-align: center;
  text-decoration: underline;
  font-size: 150%;
  padding-bottom: 25px;
}
/* need the content below for grading */

@media screen and (max-width: 992px) {
  .navcard {
    font-size: 125%;
  }
  .card {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .navcard {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .navcard {
    width: 100%;
  }
  .navcardhead {
    flex-direction: column;
  }
  .workImg1 {
    margin-left: -90px ;
  }
  h2{
    text-align: center;
  }
  aside {
    text-align: center;
    width: 100%;
  }
}