/* did not find a need for :root selector*/

/* Universal Selector below*/

*{
  color: #0fe120;
  background-color: #012904;
  margin: 5px;
}

/* Text and Flex box CSS code below*/

header {
  border: solid 8px;
}

.headercard {
  text-align: center;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 8px;
}

.navcard {
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.seccard {
  display: flex;
}

aside{
  padding-top: 15px;
  flex: .3;
  min-width: min-content;
  margin: 5px;
}

article {
  border-left: solid 5px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 20px;
  margin: 5px;
  flex: 2;
}

figcaption {
  text-align: center;
  font-size: 40px;
}

.capText {
  text-indent: 30px;
  font-size: 20px;
}

.mRight {

  margin-right: 10px;
}

.centerText {
  text-align: center;
}

footer {
  text-align: center;
  margin: 50px;
}

/*Images CSS code below*/

.imgcard{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mainProject {
  align-self: auto;
}

#sideProjects{
  scale: 65%;
}

.workImg1 {
  max-width: 600px;
}



/*Force State codes below*/

figure:hover {
  cursor: pointer;
  filter: grayscale(1);
}

.workImg1:hover {
  cursor: pointer;
  filter: grayscale(1);
}


/*Screen Responsive Code below*/

@media screen and (max-width: 999px) {
  .headercard {
    flex-direction: column;
  }
  .workImg1 {
    max-width: 400px;
  }
  .seccard{
    flex-direction: column;
  }
  article {
    border-left: 0;
    border-top: #0fe120 solid 5px;
  }
  
}

@media screen and (max-width: 460px) {

  #sideProjects {
    scale: 45%;
  }
  .seccard#small {
    flex-direction: column;
  }

}


/* Thanks for checking it out! Hope you learned something!*/


