* {
  line-height: 30px;
  color: #00ff77;
  background-color: rgb(44, 43, 43);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: yellow;
  font-size: 3rem;
  line-height: 3.2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  display: block;
  border: #00ff77 solid 5px;
  float: left;
  min-width: 35%;
}


/* used a position sticky since fixed would not align */
header {
  display: block;
  border: #00ff77 solid 5px;
  /* padding: 6px; */
  text-align: center;
  position: sticky;
  top: 0;
}

nav {
  font-size: 20px;
}

section {
  max-width: 100%;
}

.card {
  display:flex;
  flex: 1;
}

.navCard {
  block-size: initial;
  width: 20px;
  margin: 5px auto;
  border: #00ff77 solid ;
  border-radius: 50%;
}

/* .navCard:hover {} */

ul {
  float: right;
  border: #00ff77 solid 5px;
  display: block;
}

p {
  float: right;
  border: #00ff77 solid 5px;
  display: block;
  text-align: center;
  width: 55%;
}

/* extra commented out code can go below here */



/* need the content below for grading */

@media screen and (max-width: 992px) {
  /* .card { */
  }
  /* #boxes {
    width: 50%;
  } */
}

@media screen and (max-width: 768px) {
  /* #box { */
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  /* .card { */
    width: 100%;
  }
}